mixin product(product)
	a(href=`/products/${product.id}`).product-mixin
		div.product-mixin__thumb
			img.product-mixin__thumb(style=`width:100%; height:100%; background-position:center;`, src=product.fileUrl)
		div.product-mixin__data
			span.product-mixin__title=product.title 
		div.remaining-period
			span.product-remaining=product.createdAt