#category_search {
  margin-bottom: 20px;
  .category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #ffffff;
    @include box_shadow;
    li {
      display: flex;
      align-items: center;
      a {
        display: flex;
        align-items: center;
      }
      &:nth-child(1) span {
        background-color: $fashion;
      }
      &:nth-child(2) span {
        background-color: $beauty;
      }
      &:nth-child(3) span {
        background-color: $sports;
      }
      &:nth-child(4) span {
        background-color: $furniture;
      }
      &:nth-child(5) span {
        background-color: $life;
      }
      &:nth-child(6) span {
        background-color: $digital;
      }
      &:nth-child(7) span {
        background-color: $books;
      }
      &:nth-child(8) span {
        background-color: $other;
      }
    }
    span {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      margin-right: 5px;
      text-align: center;
      font-size: 15px;
    }
    label {
      font-size: 20px;
      cursor: pointer;
    }
    @include small_window {
      label {
        display: none;
      }
    }
  }
  #search_box {
    form {
      height: 40px;
      display: flex;
      justify-content: center;
      margin-top: 5px;
      input {
        font-size: 20px;
        @include box_shadow;
      }
      input[type="text"] {
        width: 300px;
        padding-left: 20px;
        border-radius: 20px 0 0 20px;
        border: solid 1px #000000;
        margin-right: 2px;
      }
      input[type="submit"] {
        border-radius: 0 20px 20px 0;
        border: solid 1px #000000;
      }
    }
  }
}
