form:not(.desiredPrice, .search__form, .sort__form, .product__comment-form) {
  max-width: 420px;
  margin: 0 auto;
  position: relative;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid rgba($color: #ddb3c1, $alpha: 0.1);
  @include box_shadow;
  .form_index {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 50px;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    color: #000000;
  }
  .form_des {
    resize: none;
    &::placeholder {
      color: #000000;
    }
  }
  input:not(input[type="range"]),
  .form_submit,
  #form_select,
  .form_des {
    all: unset;
    padding: 15px 20px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #f9fafb;
    margin-bottom: 5px;
    font-size: 16px;
    color: #000000;
    width: 90%;
    @include box_shadow;
    border: solid 1px #dddedf;
    &::placeholder {
      color: #9b9b9b;
    }
  }
  .form_submit,
  #form_select {
    border-radius: 5px;
    padding: 12px 20px;
    background-color: white !important;
    color: #9b9b9b !important;
    text-align: center !important;
    cursor: pointer;
    border: solid 1px #dddedf;
    margin-bottom: 5px;
    @include box_shadow;
    &:focus {
      outline: none;
    }
    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
  .form_submit {
    background-color: #000000 !important;
    color: #ffffff !important;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form_rarr_btn {
  color: #a50000;
  padding: 5px;
}

.social__btn--github {
  color: #000000 !important;
}
