header {
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  margin-bottom: 20px;
  @include box_shadow;
  .header__logo {
    color: #000000;
    font-size: 40px;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      margin-left: 30px;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
    }
    i {
      font-size: 16px;
    }
  }
  .header__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 1px #000000;
  }
}
