.social-login {
  border-top: 1px solid #000000;
  padding-top: 30px;
  margin-top: 30px;
  .social__github,
  .social__kakao {
    height: 40px;
    margin-bottom: 5px;
    .social__btn--github {
      color: #ffffff !important;
      display: block;
      border-radius: 5px;
      padding: 12px 20px;
      background-color: #000000;
      text-align: center !important;
      cursor: pointer;
      @include box_shadow;
    }
  }
  .social__btn--kakao {
    color: #000000;
    display: block;
    border-radius: 5px;
    padding: 12px 20px;
    text-align: center !important;
    cursor: pointer;
    @include box_shadow;
    background-color: #fee501 !important;
  }
}
