extends base

block content 
	div.pageTitle #{pageTitle}
	if errorMessage
		div.message
			div.error=errorMessage
	form(method="POST")
		if !loggedInUser.social.socialOnly && btnName != "Delete"
			input(placeholder="Password", name="password", type="password", required)
		button.form_submit=btnName