extends base
include mixins/product

block content 
	include components/category
	div#products-grid
		each product in products
			+product(product)
		else
			span.empty__message No products found 
block scripts
	script(src="/static/js/productTimeSection.js")
