div.social-login
    div.social__github
        a(href="/users/github/start").social__btn.social__btn--github
            i.fab.fa-github
            |  Continue with Github &rarr;
    div.social__kakao
        a(href="/users/kakao/start").social__btn.social__btn--kakao
            i.fas.fa-comment
            |  Login with Kakao &rarr;