extends ../base

block content 
	div.pageTitle #{pageTitle}
	if errorMessage
		span=errorMessage
	form(method="POST")
		input(placeholder="Password", name="password", type="password", required)
		button.form_submit 탈퇴하기