nav
	div#category_search
		ul.category
			li.fashion 
				a(href="/category/fashion") 
					span P
					label 패션
			li.beauty
				a(href="/category/beauty") 
					span B
					label 뷰티
			li.sports 
				a(href="/category/sports") 
					span S
					label 스포츠
			li.furniture 
				a(href="/category/furniture") 
					span F
					label 가구/인테리어
			li.life 
				a(href="/category/life") 
					span L
					label 생활
			li.digital 
				a(href="/category/digital") 
					span D
					label 디지털
			li.books 
				a(href="/category/books") 
					span B
					label 도서/취미
			li.other 
				a(href="/category/other") 
					span O
					label 기타
			li#search_btn 
				i.fas.fa-search
		div#search_box
			form(method="GET").search__form
				input(placeholder="Please enter your search term", type="text", name="keyword", required, value=keyword) 
				input(type="submit", value="Search")
		if pageTitle === "HOME"
			div#products_sortType(data-id=sort)
				form(method="GET").sort__form
					if keyword
						input(type="text", name="keyword", value=keyword)
					div.produce
						input(type="radio", name="sort", id="produce", value="produce", required)
						label(for="produce") 생성
					div.period
						input(type="radio", name="sort", id="period", value="period", required)
						label(for="period") 시간
					div.price
						input(type="radio", name="sort", id="price", value="price", required)
						label(for="price") 가격
					div.bid
						input(type="radio", name="sort", id="bid", value="bid", required) 
						label(for="bid") 입찰수
block scripts
	script(src="/static/js/categorySection.js") 