nav
	ul.category
		li.fashion 
			a(href="/category/패션") 
				span P
				label 패션
		li.beauty
			a(href="/category/뷰티") 
				span B
				label 뷰티
		li.sports 
			a(href="/category/스포츠") 
				span S
				label 스포츠
		li.furniture 
			a(href="/category/가구/인테리어") 
				span F
				label 가구/인테리어
		li.life 
			a(href="/category/생활") 
				span L
				label 생활
		li.digital 
			a(href="/category/디지털") 
				span D
				label 디지털
		li.books 
			a(href="/category/도서/취미") 
				span B
				label 도서/취미
		li.other 
			a(href="/category/기타") 
				span O
				label 기타
		li.search_btn 
			i.fas.fa-search