extends ../base

block content
    div.pageTitle #{pageTitle}
    if errorMessage
        div.message
            div.error=errorMessage
    form(method="post")
        input(placeholder="Old Password",type="password", name="oldPassword")
        input(placeholder="New Password",type="password", name="newPassword")
        input(placeholder="New Password Confirmation",type="password", name="newPasswordConfirmation")
        button.form_submit Change Password