extends ../base

block content
	if errorMessage
		div.message
			div.error=errorMessage
	div.pageTitle #{pageTitle}
	form(method="POST")
		input(placeholder="Email", name="email", type="email", required)
		input(placeholder="Password", name="password", type="password", required)
		button.form_submit Login
		include ../partials/social-login